<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card" style="margin:50px 0; border: none">
                <div class="card-header" style="text-align: center; border: none; background-color: transparent;">
                    <button type="button" style="background-color: orange; border-radius: 30px; border-color: orange;" class="btn btn-secondary btn-lg" disabled>Add New Task</button>
                </div>

                <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" id="title" formControlName="title" aria-describedby="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" formControlName="description" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="time">Time</label>
                        <div class='input-group date' id="time">
                            <ngb-timepicker formControlName="time"></ngb-timepicker>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around">
                        <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
                        <button type="submit" style="color: white;" class="btn btn-warning">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>